body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

main {
    padding-bottom: 70px;
}
.footer {
    position: fixed;
    background-color: aquamarine;
    text-align: center;
}

.select {
    position: center;
    width: 1110px;
    height: 60px;
    margin:auto;
    /*background-color: #1c7430;*/
}

